*.pyc
*.txt
*.kml
cam_calib/
fireball_videos/
host
*.swp
log_vince.yxy
media-stack.py
os
python_modules
cam_calib/Night
cam_calib/Day
cam_calib/Calibration
median-stack.py
test-astro.py
log_files/
calnow
